
<h2>Edit Celebrityes form</h2>

<form class="" action="/celebrities/<%=celeb.id%>" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" value="<%=celeb.name%>">

  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" value="<%=celeb.occupation%>">

  <label for="catchPhrase">Phrase</label>
  <input type="text" name="catchPhrase" value="<%=celeb.catchPhrase%>">

  <button type="submit">Edit Celebrity</button>


</form>
