celebrities/index renderizado
<%=celebs%>
<ul >
      <% celebs.forEach((celeb) => { %>
        <li >
          <%= celeb.name %>
          <a href="/celebrities/<%=celeb.id%>">Details of celeb</a>

        </li>
      <% }) %>

    </ul>

    <a href="/celebrities/new">Add a new Celebrity</a>
