celebrities/index renderizado
<%=celebs%>
<ul >
      <% celebs.forEach((celeb) => { %>
        <li >
          <%= celeb.name %>
          <a href="/celebrities/<%=celeb.id%>">Details of celeb</a>
          
          <form class="" action="/celebrities/<%=celeb.id%>/delete" method="post">
            <button type="submit">Delete this petard!!</button>

          </form>

        </li>
      <% }) %>

    </ul>

    <a href="/celebrities/new">Add a new Celebrity</a>
